@font-face {
    font-family: "budaeJjigae";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Light.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "budaeJjigae";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Medium.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "budaeJjigae";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/wefonts/budaeJjigae/budaeJjigae-Bold.ttf") format("truetype");
    font-display: swap;
} 
.budaeJjigae {
    font-family: "budaeJjigae";
}
.budaeJjigae300 {
    font-family: "budaeJjigae";
    font-weight: 300;
}
.budaeJjigae500 {
    font-family: "budaeJjigae";
    font-weight: 500;
}
.budaeJjigae700 {
    font-family: "budaeJjigae";
    font-weight: 700;
}
